.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
  }

  img {
    border-radius: 9px;
    width: 150px;
  }
}
